body {
    display: grid;
    justify-content: center;
    gap: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header {
    text-align: center;
    font-size: 24pt;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.message {
    text-align: center;
}

.gameboard {
    display: grid;
    justify-content: center;
    grid-template: 80px 80px 80px / 80px 80px 80px;
}

.cell {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inactive {
    color: gray;
    opacity: 0.5;
}

.new-game-modal[open] {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;
}

.modal-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    column-gap: 30px;
    justify-items: end;
}


button {
    background-color: rgb(9, 92, 9);
    color: white;
    font-size: 12pt;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
}